<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.uhf.uhf"
    android:versionCode="12"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.uhf.uhf.UHFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name="com.uhf.uhf.activity.ConnectRs232Activity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderMaskTag"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.setpage.PageReaderAddress"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderIdentifier"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderFirmwareVersion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity android:name=".activity.setpage.PageReaderStatus"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderTemperature"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderGpio"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderBeeper"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderOutPower"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderAntenna"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderReturnLoss"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderAntDetector"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderMonza"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".fragment.PageReaderFuDanCmdFragment"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderRegion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".activity.setpage.PageReaderProfile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".widget.tagpage.PageInventoryReal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".widget.tagpage.PageInventoryBuffer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".widget.tagpage.PageInventoryFast"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".widget.tagpage.PageInventoryReal6B"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".widget.tagpage.PageTagAccess"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".widget.tagpage.PageTag6BAccess"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.activity.MonitorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity android:name=".activity.setpage.PageReaderFuDanTestTemp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".activity.setpage.PageShowTestTempChart"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>
</manifest>